body{
    background-image: url('photos/289e1b763314ce624793e0ed711933ff.jpg');
    font-family: 'Franklin Gothic Medium', sans-serif;
}

h1{
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px
}

#subtitle{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}

h4{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#port1{
    font-size: larger;
    color: rgb(209, 207, 207);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    width: 200px;
    height: 100px;
    background-color: #302c2c;
    border-radius: 40px;

    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#port2{
    font-size: larger;
    color: rgb(209, 207, 207);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    width: 200px;
    height: 100px;
    background-color: #302c2c;
    border-radius: 40px;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#port3{
    font-size: larger;
    color: rgb(209, 207, 207);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    width: 200px;
    height: 100px;
    background-color: #302c2c;
    border-radius: 40px;

    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#port4{
    font-size: larger;
    color: rgb(209, 207, 207);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    width: 200px;
    height: 100px;
    background-color: #302c2c;
    border-radius: 40px;

    position: absolute;
    top: 74%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#port5{
    font-size: larger;
    color: rgb(209, 207, 207);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    width: 200px;
    height: 100px;
    background-color: #302c2c;
    border-radius: 40px;

    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#port6{
    font-size: larger;
    color: rgb(209, 207, 207);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    width: 200px;
    height: 100px;
    background-color: #302c2c;
    border-radius: 40px;

    position: absolute;
    top: 74%;
    left: 70%;
    transform: translate(-50%, -50%);
}

#me{
    position: absolute;
    top: 10%;
    left: 10%
}

#abtme{
    position: absolute;
    left: 10%;
    top:30%;
}