body{
    background-image: url('photos/289e1b763314ce624793e0ed711933ff.jpg');
    font-family: 'Franklin Gothic Medium', sans-serif;
}

h1{
    background-color: #80ba7a;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
}

#subtitle{
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-52%, -50%);
}

.navbox{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.slidehead{
    background-color: #80ba7a;
    text-align: center;
    font-size: 30px;
    left: 50%;
    transform: translate(-52%, -50%);
}

.para{
    text-align:justify;
    line-height: 1.5;
    margin: 10px 0;
    font-size: 20px;
    width: 600px;

}
#slide1{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#para1{
    position: absolute;
    top: 120%;
    left:10%
}

#csdis{
    position: absolute;
    top: 125%;
    right: 15%;
}

#slide2{
    position: absolute;
    top: 185%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#para2{
    position: absolute;
    top: 195%;
    left:10%
}

#cpdis{
    position: absolute;
    top: 195%;
    right: 15%;
}

#slide3{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#para3{
    position: absolute;
    top: 260%;
    left:10%
}

#isdis{
    position: absolute;
    top: 260%;
    right: 15%;
}

#slide4{
    position: absolute;
    top: 310%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#para4{
    position: absolute;
    top: 320%;
    left:10%;
    width: 600px;
    text-align: justify;
}

#itdis{
    position: absolute;
    top: 320%;
    right:20%;
}

#slide5{
    position: absolute;
    top: 380%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#para5{
    position: absolute;
    top: 390%;
    left: 10%;
}

#softdis{
    position: absolute;
    top: 390%;
    right:19%;
}

#reference{
    position: absolute;
    top: 430%;
}

.references{
    text-align: center;
    color:black;
    width: 600px;
    line-height: 1;
    margin: 10px 0;
    font-size: 18px;
}

#r1{
    position: absolute;
    top: 442%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r2{
    position: absolute;
    top: 450%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r3{
    position: absolute;
    top: 460%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r4{
    position: absolute;
    top: 467%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r5{
    position: absolute;
    top: 475%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r6{
    position: absolute;
    top: 480%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r7{
    position: absolute;
    top: 488%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r8{
    position: absolute;
    top: 498%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r9{
    position: absolute;
    top: 505%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r10{
    position: absolute;
    top: 510%;
    left: 50%;
    transform: translate(-50%, -50%);
}