body{
    background-image: url('photos/289e1b763314ce624793e0ed711933ff.jpg');
    font-family: 'Franklin Gothic Medium', sans-serif;
}

h1{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    background-color: #ebe996;
}

#subtitle{
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-52%, -50%);
}
.navbox{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.references{
    text-align: center;
    color:black;
    width: 600px;
    line-height: 1;
    margin: 10px 0;
    font-size: 18px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slidehead{
    position: absolute;
    background-color: #ebe996;
    text-align: center;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.para{
    position: absolute;
    text-align:justify;
    line-height: 1.5;
    margin: 10px 0;
    font-size: 20px;
    width: 600px;
    left: 10%;
}

#slide1{
    top: 110%;
}

#para1{
    top:120%;
    left: 28%;
}

#slide2{
    top: 145%;
}

#para2{
    top: 155%;
    left: 28%
}

#table1{
    position: absolute;
    top: 370%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table2{
    position: absolute;
    top: 450%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table3{
    position: absolute;
    top: 530%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#table4{
    position: absolute;
    top: 610%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#references{
    top: 650%;
}

#r1{
    top: 660%;
}

#r2{
    top: 670%;
}

#r3{
    top: 680%;
}

#r4{
    top: 690%;
}

#r5{
    top: 700%;
}